<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-3">
            <i class="far fa-user"></i> <%= getTranslation(title) %>
          </h1>
          <%- include('./partials/alerts'); -%>
          <form id="change-password-form">
            <div class="mb-3">
              <label for="username" class="form-label"
                ><%= getTranslation("user.username") %></label
              >
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                autocomplete="off"
                placeholder="<%=
                username %>"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"
                ><%= getTranslation("user.password") %></label
              >
              <input type="password" id="password" name="password"
              class="form-control" autocomplete="off" placeholder="<%=
              getTranslation("placeholder.password") %>" />
            </div>
            <div class="mb-3">
              <label for="confirm-password" class="form-label"
                ><%= getTranslation("user.confirm_password") %></label
              >
              <input type="password" id="confirm-password"
              name="confirmPassword" class="form-control" autocomplete="off"
              placeholder="<%= getTranslation("placeholder.confirm_password")
              %>" />
            </div>
            <button
              id="change-password-btn"
              type="button"
              class="btn btn-primary btn-block"
            >
              <%= getTranslation("button.submit") %>
              <span id="change-password-btn-spinner"></span>
            </button>
          </form>
          <p class="lead mt-4">
            <a class="nav-link" href="/api/"
              ><i class="fas fa-arrow-circle-left me-1"></i> Back To Room</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
